<!DOCTYPE HTML>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>算算你的大姨妈</title>
        <!--<link href="static/bootstrap/bootstrap.css" rel="stylesheet">-->
        <link rel="stylesheet" type="text/css" href="static/1.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 
        <script type="text/javascript" src="/static/js/highcharts.js"></script>
        <script type="text/javascript" src="/static/js/modules/exporting.js"></script>
        <meta property="wb:webmaster" content="cc9393e74651eccf" />
        <script type="text/javascript">
            Highcharts.theme = { colors: ['#4572A7'] };// prevent errors in default theme
            var highchartsOptions = Highcharts.getOptions();
        </script>

        <style type="text/css" media="screen">
            #container_week,#container_zhuanf{display:table-cell;*display:inline;zoom:1;vertical-align:middle;}
        </style>
<script>

var imgd;
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'°C';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Tokyo',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: 'New York',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: 'Berlin',
                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
            }, {
                name: 'London',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]

        });
canvg(document.getElementById('canvas'), chart.getSVG())

var canvas = document.getElementById("canvas");
var img = canvas.toDataURL("image/png");
imgd = img
${code2} = img
alert(imgd);
alert(${code2});
$("#imgg").click(function(){
alert(${code2});
this.value =${code2} ;
var arg = {};
arg["img"] = ${code2}
$.post("/", arg,function(result){
    alert(result);
  });
});
//document.write('<img src="'+img+'"/>');
    });  
});

</script>

    <body>

        <div id=popup>
            <span class=hiden>
                <a href=# class=hiden>C</a>
            </span>
            <p>Hello! ${user}.</p>
        </div>
        <span class=showpop>
            <a href=# class=showpoplink>C</a>
        </span>
                        <br>
                <br>





        <div class="container" id="content">
            <div class="content">
						<div id="container"></div>

<div>
<canvas id="canvas" width="200px" height="200px" hidden="fales"></canvas> 
</div>

            </div>
        </div>

<div id="form_reg" class="btns">
    <form method="POST" id="login" action="/">
        <p>
            <label class="label_input" for="login_mail">邮箱</label><input class="login_mail" id="login_mail" name="mail" value="" type="text">
        </p>
        <div class="errtip" id="errtip_mail"></div>
        <p>
            <label class="label_input" for="login_password">密码</label><input class="login_password" id="login_password" name="password" value="" type="password">
        </p>
        <div class="errtip" id="errtip_password"></div>
        <div class="cl" id="form_btn">
            <span class="R">
                没有账号 ? <a href="/reg">点此注册</a>
            </span>
            <span class="btnw"><button type="submit" >登录</button></span>
                <input type=button id="imgg" value="立刻转发微博，让它把日子算好....，^_^" >
        </div>
        <input type="hidden" name="img" value=${code2}>
    </form>
</div>
<center>
  <p>算算你的大姨妈，数据来源你的微博：<a href="http://weibo.com" target="_blank">weibo.com</a></p>
  <p>微博关注<a href="http://weibo.com/rosickey" target="_blank">@算算你的大姨妈</a>，让你的微博算算你的生活</p> 
  <p>算算你的大姨妈，版权所有&copy;2011-2012</p> 
 </center>
     </body>
</html>




